.recipe-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure two cards per row */
  gap: 20px; /* Gap between cards */
  padding: 20px;
}

.recipe-card {
  position: relative;
  width: calc(50% - 10px); /* Adjust width for two cards per line with gap */
  margin-bottom: 20px; /* Adjust margin as needed */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: var(--light-grey);
}

.recipe-card img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.recipe-card-content {
  height: 150px; /* Adjust height as needed */
  overflow: hidden;
}

.recipe-card-title {
  margin: 10px 0;
  text-align: center;
  color: var(--dark-green);
}

.recipe-card-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px; /* Adjust padding as needed */
  background-color: var(--light-grey);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.favorite-button,
.recipe-card-button {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  background-color: var(--medium-green);
  color: var(--light-grey);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
