.recipe-card-button {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  background-color: var(--medium-green);
  color: var(--light-grey);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recipe-card-button:hover {
  background-color: var(--grey);
}
