:root {
  --dark-green: #040f0f;
  --medium-green: #1c4e23;
  --grey: #656665;
  --light-green: #46eb6f;
  --light-grey: #e8e8e9;
}

.SignupForm {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-green);
}

.SignupForm .container {
  text-align: left;
  margin-bottom: 20px;
  color: var(--dark-green);
}

.SignupForm h2 {
  margin-bottom: 1rem;
}

.SignupForm .card {
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: var(--dark-green);
  color: var(--light-green);
}

.SignupForm .card-body {
  padding: 10px;
}

.SignupForm .form-group {
  margin-bottom: 1.5rem;
}

.SignupForm .form-control {
  background-color: var(--light-grey);
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
}

.SignupForm .btn-primary {
  background-color: var(--medium-green);
  color: var(--light-grey);
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
}

.SignupForm .btn-primary:hover {
  background-color: var(--grey);
}

.SignupForm .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.SignupForm .btn-primary:active {
  background-color: var(--dark-green);
}

.signup-heading {
  font-weight: bold;
  margin: bottom 20px;
  padding-left: 130px;
}

h2 {
  padding-top: 25px;
  font-weight: 750;
  color: var(--medium-green);
}
